* {
    margin: 0;
    padding: 0;
}

body {
    color: white;
    background-color: rgba(0, 0, 10, 0.9);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header {
    padding-left: 1%;
    padding-right: 1%;
    margin-bottom: 7vh;
    background-color: rgba(40, 40, 40, 0.8);
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h1 {
    font-size: 3rem;
}

img {
    width: 2vw;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

fieldset {
    font-size: 1.5rem;
    width: 30vw;
    display: flex;
    flex-direction: column;
    padding: 1%;
    border-radius: 6px;
    margin-bottom: 3vh;
}

button {
    font-size: 2rem;
    margin-top: 3vh;
    padding: 1%;
    border-radius: 7px;
    background-color: grey;
    color: white;
}

section {
    margin-top: 6vh;
    border: 1px solid white;
    border-radius: 7px;
    width: 30vw;
    padding: 1%;
    text-align: center;
    font-size: 1.2rem;
    font-weight: bold;
}

button:hover {
    cursor: pointer;
    background-color: rgba(40, 40, 40, 0.8);
    border-color: white;
}

input[type="number"] {
    width: 50px;
    height: 40px;
    font-size: 1.5rem;
    text-align: center;
}

input[type="checkbox"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    background: white;
    margin-right: 5%;
    width: 20px;
    height: 20px;
}

input[type="checkbox"]:checked {
    background: greenyellow;
}

#copy {
    width: 12vw;
    font-size: 1rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#copy img {
    width: 20%;
}